*{
    margin: 0;
    padding: 0;
}
:root{
    --k7al: rgb(12, 11, 12);
    --limoni-7mar: rgb(212, 70, 14); 
    --sfar-motard: rgb(189, 177, 10);
    --lbyad: #fff;
    --gris: rgb(138, 132, 132);
}

.container{
    margin: 20px 100px;
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(3,250px);
    grid-gap: 20px;
}
.image{
    background-color: aqua;
    display: grid;
    grid-column: 1/4;
}
.image img{
    height: 300px;
    width: 790px;
    object-fit: cover;
}
.New{
    background-color: var(--k7al);
    display: grid;
    grid-column: 4/5;
    grid-row: 1/3;
    font-family: Arial;
    padding-left: 20px;
    color: var(--lbyad);
    margin-top: -20px;
}
hr{
   color: var(--gris);
   margin-top: 25px;
}

.new-heading {
    font-size: 45px;
    color: var(--sfar-motard);
    margin-top: 25px;
}

.texte{
     padding: 9px;
     margin-right: 10px;
}
.texte h3{
    margin-bottom: 15px;
}

.texte p{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: var(--gris);
}
.title{
    display: grid;
    grid-column: 1/2;
    width: 300px;
    margin-top: 60px;
}
h2{
    font-style:inherit;
    font-size: 50px;
    color: var(--k7al);
    line-height: 59px;
    font-weight: 800;
    align-self: center;
    margin-bottom: 30px;
    max-width: max-content;
}
.desc{
    display: grid;
    grid-column: 2/4;
    width: 520px;
    margin-top: 60px;
}
.desc p{
    margin-left: 90px;
    margin-right: 15px;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: var(--gris);
    font-weight: 300;
    line-height: 25px;
}
.button{ 
    margin-left: 120px;
    margin-top: 20px;
}
h6{
    font-weight: 300; 
    font-size: 16px;
    color: var(--lbyad);
}
button{
    background-color: rgba(242,92,81,255);
    height: 50px;
    width: 200px; 
    border: none;
}
.footer{
    display: grid;
    grid-column: 1/5;
    display: flex;
    margin-top: 100px;
}
#card1{
height: 200px;
width: 370px;
}
#card2{
height: 200px;
width: 393px;
}
#card3{
height: 200px;
width: 405px;
}
.footer h1{
    font-size: 40px;
    color: var(--gris);
    margin-top: 50px;
    margin-left: 142px;
}
.footer p{
    font-size: 16px;
    color: var(--gris);
    font-weight: 300;
    position: relative;
    bottom: 145px;
    left: 144px;
    line-height: 28px;
    margin-right: 185px;
}
.footer h4{
    font-size: 20px;
    color: var(--k7al);
    font-weight: 900;
    text-align: center;
    position: relative;
    left: 45px;
    bottom: 145px;
    margin-right: 08px;
}
img{
    height: 150px;
    width: 120px;
    position: relative;
    bottom: 45px;
}

    