*{
    margin: 0;
    padding: 0;
}
:root{
    --k7al: rgb(12, 11, 12);
    --limoni-7mar: rgb(212, 70, 14); 
    --sfar-motard: rgb(189, 177, 10);
    --lbyad: #fff;
    --gris: rgb(138, 132, 132);
}

.container{
    margin: 30px 100px;
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(3,250px);
    grid-gap: 20px;
    background-color: rgb(10, 45, 73);
}
.image{
    background-color: aqua;
    display: grid;
    grid-column: 1/4;

}
.image img{
    height: 250px;
    width: 790px;
    object-fit: cover;
}
.New{
    background-color: var(--k7al);
    display: grid;
    grid-column: 4/5;
    grid-row: 1/3;
    font-family: Arial;
    padding-left: 20px;
    color: var(--lbyad);
}

.new-heading {
    font-size: 45px;
    color: var(--sfar-motard);
    margin-top: 25px;
}

.texte{
     padding: 9px;
     margin-right: 10px;
}
.texte h3{
    margin-bottom: 15px;
}

.texte p{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: var(--gris);
}

.title{
    background-color: brown;
    display: grid;
    grid-column: 1/3;
}
hr{
   height: 5px;
   border-top: 1px solid black;
}
.photo3{
    background-color: rgb(42, 165, 104);
    display: grid;
    grid-column: 3/4;
}
.footer{
    background-color: blueviolet;
    display: grid;
    grid-column: 1/5;

}
